.container__big-card{
  margin-left: 80px;
  margin-right: 80px;
  width: 515px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1{
  font-size: 35px;
  margin-top: 10px;
}

.big-card__description{
  font-size: 18px;
  margin-top: 15px;
}

.big-card__description > p {
  color: grey;
}

.big-card__photo > img{
  height: 100%;
  min-height: 250px;
  width: 100%;
  min-width: 400px;
}
